---
http_interactions:
- request:
    method: get
    uri: https://download.data.grandlyon.com/ws/smartdata/jcd_jcdecaux.jcdvelov/all.json?field=number&value=10117
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"fields\": [\"number\", \"name\", \"address\", \"address2\", \"commune\",
        \"nmarrond\", \"bonus\", \"pole\", \"lat\", \"lng\", \"bike_stands\", \"status\",
        \"available_bike_stands\", \"available_bikes\", \"availabilitycode\", \"availability\",
        \"banking\", \"gid\", \"last_update\", \"last_update_fme\"], \"nb_results\":
        1, \"values\": [[\"10117\", \"La P\\u00e9rrali\\u00e8re\", \"171 rue L\\u00e9on
        Blum\", \"None\", \"VILLEURBANNE\", \"117\", \"Non\", \"Centre de quartier,
        commerces\", \"45.7645636665294000\", \"4.8923336071821100\", \"22\", \"OPEN\",
        \"12\", \"10\", \"1\", \"Vert\", \"True\", \"922\", \"2014-08-21 14:50:31\",
        \"2014-08-21 14:53:01\"]], \"layer_name\": \"jcd_jcdecaux.jcdvelov\", \"table_href\":
        \"https://download.data.grandlyon.com/ws/smartdata/jcd_jcdecaux.jcdvelov.json\",
        \"field_name\": \"gid\"}"
  recorded_at: Thu, 21 Aug 2014 12:53:29 GMT
recorded_with: VCR 2.9.2
